

<div ng-controller="FinalController" class="final-content">

    <style type="text/css">
        .modal-lg {
            max-width: 1121px;
        }

        .nav-tabs > .nav-item > .nav-link.active {
            border-bottom: 4px solid #28a745;
        }

        .nav-tabs > .nav-item > .nav-link {
            border: none;
            text-transform: uppercase;
            font-size: 12px;
            background-color: transparent;
            color: inherit;
            font-weight: 700;
            border-bottom: 4px solid transparent;
        }

        .table-responsive {
            font-size: 13px !important;
        }

        .custom-table {
            float: left;
            margin-right: 10px;
            font-size: 0.75rem;
        }




        .breadcrumbs-two {
            overflow: hidden;
            width: 100%;
        }

            .breadcrumbs-two li {
                list-style: none;
                float: left;
                margin: 0 .5em 0 1em;
            }

            .breadcrumbs-two a {
                background: #ddd;
                padding: .7em 1em;
                float: left;
                text-decoration: none;
                color: #444;
                text-shadow: 0 1px 0 rgba(255,255,255,.5);
                position: relative;
            }

                .breadcrumbs-two a:hover {
                    background: #99db76;
                }

                .breadcrumbs-two a::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-top: -1.5em;
                    border-width: 1.5em 0 1.5em 2em;
                    border-style: solid;
                    border-color: #ddd #ddd #ddd transparent;
                    left: -2em;
                }

                .breadcrumbs-two a:hover::before {
                    border-color: #99db76 #99db76 #99db76 transparent;
                }

                .breadcrumbs-two a::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-top: -1.5em;
                    border-top: 1.5em solid transparent;
                    border-bottom: 1.5em solid transparent;
                    border-left: 2em solid #ddd;
                    right: -2em;
                }

                .breadcrumbs-two a:hover::after {
                    border-left-color: #99db76;
                }

            .breadcrumbs-two .current,
            .breadcrumbs-two .current:hover {
                font-weight: bold;
                background: none;
            }

                .breadcrumbs-two .current::after,
                .breadcrumbs-two .current::before {
                    content: normal;
                }
    </style>

    <h5 class="font-weight-bold">{{ Title }}</h5>
    <hr />
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card font-weight-bold border-secondary">
                        <div class="card-header bg-secondary text-white text-uppercase p-2 pl-4">To Back Office</div>
                        <div class="card-body bg-light p-2 pl-4">
                            <div class="row">
                                <div class="col-5">
                                    <p>Dispute Alert&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
                                    <p>Dispute Category&nbsp;:</p>
                                </div>
                                <div class="col-7">
                                    <p>
                                        <span ng-class="{'text-danger' : office.disputeAlert != 'Yes' , 'text-success' : office.disputeAlert == 'Yes'}" class="text-uppercase text-success">
                                            {{ office.disputeAlert }}
                                        </span>
                                    </p>
                                    <p>
                                        <span class="text-capitalize text-success">
                                            {{ office.disputeCategory  }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card font-weight-bold border-secondary">
                        <div class="card-header bg-secondary text-white text-uppercase p-2 pl-4">To Customer</div>
                        <div class="card-body bg-light p-2 pl-4">
                            <div class="row">
                                <div class="col-5">
                                    <p>Dispute Alert &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</p>
                                    <p>Alert Preference&nbsp;:</p>
                                </div>
                                <div class="col-7">
                                    <p>
                                        <span ng-class="{'text-danger' : customer.disputeAlert != 'Yes' , 'text-success' : customer.disputeAlert == 'Yes'}" class="text-uppercase">
                                            {{ customer.disputeAlert }}
                                        </span>
                                    </p>
                                    <p>
                                        <span ng-class="{'text-danger' : customer.alertRef != 'Yes' , 'text-success' : customer.alertRef == 'Yes'}" class="text-uppercase text-success">
                                            {{ customer.alertRef }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table cellpadding="4" cellspacing="4" style="width: 100%">
                <tr>
                    <td colspan="2">
                        <br />
                        <div class="form-group">
                            <button class="btn btn-sm btn-info text-capitalize" data-toggle="modal" data-target="#transactionMoadal">View Transaction Details</button>
                            <button class="btn btn-sm btn-info text-capitalize" data-toggle="modal" data-target="#alertProcessingModal">Send for Alert Processing</button>
                            <button class="btn btn-sm btn-info text-capitalize" data-toggle="modal" data-target="#declineTransactionModal">Decline/Hold Transaction</button>
                        </div>
                    </td>
                </tr>
            </table>
            <hr class="my-0" />
            <table cellpadding="4" cellspacing="4" style="width:100%">
                <!--<tr>
                    <td colspan="2">
                        <em class="p-1 pl-3 bg-light border rounded">Prediction Result Drivers from Historical Data <i class="fa fa-caret-down"></i></em>
                        <i class="fa fa-thumbs-up"></i>
                    </td>
                </tr>-->
                <!--<tr>
                    <td colspan="2">
                        <table cellpadding="4" cellspacing="4" style="width: 80%;">
                            <tr>
                                <td style="width: 15%;" class="font-weight-bold">Aggregate points scored by Transaction :</td>
                                <td style="width: 3%;" class="font-weight-bold">
                                    <span class="text-success">27</span>
                                </td>
                                <td style="width: 7%;" class="font-weight-bold">Dispute Probability :</td>
                                <td style="width: 4%;" class="font-weight-bold">
                                    <span class="text-success">{{ disputeProbability }}%</span>
                                </td>
                                <td style="width: 11%;" class="font-weight-bold">Threshold Probability for Alert :</td>
                                <td style="width: 4%;" class="font-weight-bold">
                                    <span class="text-success">50.00%</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>-->
                <tr>
                    <td>
                        <div class="card font-weight-bold border-dark" style="height: 200px;">
                            <div class="card-header bg-secondary text-white text-uppercase text-center p-2 pl-4">INTEL-X: Dashboard</div>
                            <div class="card-body text-center bg-light p-4 pl-4"  style="height: 200px;">                          

                                <div class="row">
                                    <div class="col-4">
                                        <img class="card-img-top" src="../Static/images/Explain.png"
                                             alt="Card image" style="width:30%" />
                                        <button class="btn btn-lg btn-success text-capitalize mr-2 mt-1" data-toggle="modal" data-backdrop="static" data-target="#intelxExplanationModal">AI DECISION – EXPLANATION</button>
                                    </div>
                                    <div class="col-4">
                                        <img class="card-img-top" src="../Static/images/Fairness.png" alt="Card image" style="width:30%" />
                                        <button class="btn btn-lg btn-warning text-capitalize ml-2 mt-1" data-toggle="modal" data-backdrop="static" data-target="#intelxFairnessModal">AI DECISION – FAIRNESS</button>
                                    </div>
                                    <div class="col-4">
                                        <img class="card-img-top" src="../Static/images/Levers.jpg" alt="Card image" style="width:25%" />
                                        <button class="btn btn-lg btn-primary text-capitalize ml-2 mt-3" data-toggle="modal" data-backdrop="static" data-target="#intelxLeversModal">AI DECISION - LEVERS</button>
                                    </div>
                                </div>



                                <!--<button class="btn btn-lg btn-success text-capitalize mr-2" data-toggle="modal" data-backdrop="static" data-target="#intelxExplanationModal">AI DECISION – EXPLANATION</button>
                                <button class="btn btn-lg btn-warning text-capitalize ml-2" data-toggle="modal" data-backdrop="static" data-target="#intelxFairnessModal">AI DECISION – FAIRNESS</button>
                                <button class="btn btn-lg btn-primary text-capitalize ml-2" data-toggle="modal" data-backdrop="static" data-target="#intelxLeversModal">AI DECISION - LEVERS</button>-->

                            </div>
                        </div>
                        <!--<ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active"
                                   data-toggle="tab"
                                   href="javascript:void(0)"
                                   data-target="#transactionFields">
                                    Transaction Fields
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   data-toggle="tab"
                                   href="javascript:void(0)"
                                   data-target="#disputeFields">
                                    Dispute Fields
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content bg-light">
                            <div id="transactionFields" class="tab-pane col active" style="min-height: 142px">
                                <br>
                                <div class="float-left mr-3">
                                    <p>Merchant Name = 3</p>
                                    <p>Merchant Country = 5</p>
                                </div>
                                <div class="float-left mr-3">
                                    <p>Authorized Amount = 3</p>
                                    <p>Authorization Date = 2</p>
                                </div>
                                <br>
                            </div>
                            <div id="disputeFields" class="tab-pane col fade" style="min-height: 142px">
                                <br>
                                <div class="float-left mr-3">
                                    <p>On Us = 5</p>
                                    <p>Dispute Amount = 3</p>
                                    <p>Fraud Reported = 2</p>
                                </div>
                                <div class="float-left mr-3">
                                    <p>Decision Amount = 3</p>
                                    <p>Chargeback Attempt = 3</p>
                                    <p>Recovered = 4</p>
                                </div>
                                <div class="float-left mr-3">
                                    <p>Representment Indicator = 4</p>
                                    <p>Reconsidered Dispute = 3</p>
                                </div>
                                <br>
                            </div>
                        </div>-->
                    </td>
                </tr>


            </table>
        </div>
        <div class="col-md-3 col-sm-12 text-center" style="font-size: 24px !important;">
            <p class="font-weight-bold py-2 border-bottom">Dispute Probability</p>
            <ng-gauge size="140" type="full" thick="18"
                      min="0" max="100" value="disputeProbability"
                      cap="butt" append="%"
                      foreground-color="#28a745" background-color="#EEE">
            </ng-gauge>
            <br />
            <!--<p class="font-weight-bold py-2 border-bottom">Aggregate Points Scored</p>
            <ng-gauge size="140" type="full" thick="18"
                      min="0" max="100" value="27"
                      cap="butt" append=""
                      foreground-color="#28a745" background-color="#EEE">
            </ng-gauge>-->

        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="transactionMoadal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="card border-0">
                    <div class="card-header border-0 font-weight-bold bg-secondary text-white">
                        Transaction Details Evaluated
                        <button type="button" class="close text-white font-weight-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="custom-table" cellspacing="4" cellpadding="4">
                                    <tr><td colspan="2"><strong>Primary Information</strong></td></tr>
                                    <tr><td>Card Number</td><td>{{transactionDetails.CardNumber}}</td></tr>
                                    <tr><td>Posted Amount</td><td>{{transactionDetails.PostedAmount}}</td></tr>
                                    <tr><td>Transaction Date</td><td>{{transactionDetails.TxnTimestamp}}</td></tr>
                                    <tr><td>Transaction Type</td><td>{{transactionDetails.Txn_Type}}</td></tr>
                                    <tr><td>Reference Number</td><td>{{transactionDetails.ReferenceNumber}}</td></tr>
                                    <tr><td>Funding Account Number</td><td>{{transactionDetails.FundingAccountNumber}}</td></tr>
                                    <tr><td>Customer Id</td><td>{{transactionDetails.CustomerID}}</td></tr>
                                    <tr><td>Multi Clearing</td><td>{{ (transactionDetails.MultiClearing == 'Y') ? 'Yes' : 'No'}}</td></tr>
                                </table>

                                <table class="custom-table" cellspacing="4" cellpadding="4">
                                    <tr><td colspan="2"><strong>Environment Information</strong></td></tr>
                                    <tr><td>Network</td><td>{{transactionDetails.NetworkID}}</td></tr>
                                    <tr><td>POS Entry Mode</td><td>{{transactionDetails.POSEntryMode}}</td></tr>
                                    <tr><td>MOTO/ECI</td><td>{{transactionDetails.MOTO_ECI_Ind}}</td></tr>
                                    <tr><td>Card Present</td><td>{{ (transactionDetails.PhysicalCardPresent == 'Y') ? 'Yes' : 'No' }}</td></tr>
                                    <tr><td>Terminal Indicator</td><td>{{transactionDetails.TerminalIndicator}}</td></tr>
                                    <tr><td>UCAF</td><td>{{transactionDetails.UCAF}}</td></tr>
                                    <tr><td>Floor Limit</td><td>{{transactionDetails.FloorLimit}}</td></tr>
                                    <tr><td>Service Code</td><td>{{transactionDetails.ServiceCode}}</td></tr>
                                    <tr><td>Terminal Capability Code</td><td>{{transactionDetails.Terminalcapabilitycode}}</td></tr>
                                    <tr><td>Cardholder ID Method</td><td>{{transactionDetails.CardholderIDMethod}}</td></tr>
                                    <tr><td>POS Environment</td><td>{{transactionDetails.POSEnvironment}}</td></tr>
                                    <tr><td>RPS Indicator</td><td>{{transactionDetails.RPSInd}}</td></tr>
                                </table>

                                <table class="custom-table" cellspacing="4" cellpadding="4">
                                    <tr><td colspan="2"><strong>Merchant Information</strong></td></tr>
                                    <tr><td>Merchant Name</td><td>{{transactionDetails.MerchantName}}</td></tr>
                                    <tr><td>Merchant Country</td><td>{{transactionDetails.MerchantCountry}}</td></tr>
                                    <tr><td>Merchant Category Code</td><td>{{transactionDetails.MerchantCategoryCode}}</td></tr>
                                    <tr><td>Merchant Currency Code</td><td>{{transactionDetails.MerchantCurrencyCode}}</td></tr>
                                    <tr><td>Acquirer BIN</td><td>{{transactionDetails.AcquirerBIN}}</td></tr>
                                    <tr><td>Card Acceptor Id</td><td>{{transactionDetails.CardAcceptorID}}</td></tr>
                                </table>

                                <table class="custom-table" cellspacing="4" cellpadding="4">
                                    <tr><td colspan="2"><strong>Authorization Information</strong></td></tr>
                                    <tr><td>Pin Presence</td><td>{{ (transactionDetails.PinPresent == 'Y') ? 'Yes' : 'No' }}</td></tr>
                                    <tr><td>CAVV Result</td><td>{{transactionDetails.CAVVResult}}</td></tr>
                                    <tr><td>CVV2 Result</td><td>{{transactionDetails.CVV2Result}}</td></tr>
                                    <tr><td>Authorized Amount</td><td>{{transactionDetails.AuthorizationAmount}}</td></tr>
                                    <tr><td>Authorization Date</td><td>{{transactionDetails.AuthorizationTimestamp}}</td></tr>
                                    <tr><td>POS Entry Mode on Auth</td><td>{{transactionDetails.POSEntryModeonAuth}}</td></tr>
                                    <tr><td>Authorization Code</td><td>{{transactionDetails.Authorizationcode}}</td></tr>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="alertProcessingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content">
                <div class="card border-0">
                    <div class="card-header border-0 font-weight-bold bg-secondary text-white">
                        Alert Processing Confirmation
                        <button type="button" class="close text-white font-weight-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Alert sent for downstream processing.</p>
                                <p>Click OK to continue with next transaction.</p>
                                <a href="#/home" class="btn btn-sm btn-secondary" data-dismiss="modal" ng-click="redirectToHome()" style="min-width: 75px">OK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="declineTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="card border-0">
                    <div class="card-header border-0 font-weight-bold bg-secondary text-white">
                        Alert Processing Confirmation
                        <button type="button" class="close text-white font-weight-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Alert Deemed Valid. Decline/Hold response sent to Network.</p>
                                <p>Click OK to continue with next transaction.</p>
                                <a href="#/home" class="btn btn-sm btn-secondary" data-dismiss="modal" ng-click="redirectToHome()" style="min-width: 75px">OK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal For INTEL-X -->
    <div class="modal fade" id="intelxExplanationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="card border-0">
                    <div class="card-header border-0 font-weight-bold bg-dark text-white">
                        <h4 style="color: gold !important;margin-bottom: 0;">EXPLANATION FROM INTEL-X</h4>
                        <button type="button" class="close text-white font-weight-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body" ng-if="perset == 1">

                        <div class="row">
                            <div class="col-6">
                                <div class="bg-dark text-white px-4 clearfix">
                                    <div class="float-left d-flex justify-content-between align-items-center">
                                        <h6 class="text-uppercase bg-dark py-2 mb-0">Safe Transaction</h6>
                                    </div>
                                    <div class="float-right d-flex justify-content-between align-items-center ">
                                        <h6 class="text-uppercase bg-dark py-2 mb-0">{{100-disputeProbability}}%</h6>
                                    </div>
                                </div>

                                <ul class="list-group text-white rounded-0" style="font-size: 1em;font-weight: 600;" ng-if="(100-disputeProbability)!=0">
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success" style="opacity: 1.0;">
                                        NO. OF PAST SUCCESSFUL RECOVERY ATTEMPTS
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">17.78</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success" style="opacity: 0.9;">
                                        TRANSACTION AMOUNT
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">13.33</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success" style="opacity: 0.7;">
                                        MERCHANT COUNTRY
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">5.67</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success" style="opacity: 0.5;">
                                        TRANSACTION DATE
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">3.67</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <div class="bg-dark text-white px-4 clearfix">
                                    <div class="float-left d-flex justify-content-between align-items-center">
                                        <h6 class="text-uppercase bg-dark py-2 mb-0">Potential Dispute</h6>
                                    </div>
                                    <div class="float-right d-flex justify-content-between align-items-center ">
                                        <h6 class="text-uppercase bg-dark py-2 mb-0">{{disputeProbability}}%</h6>
                                    </div>
                                </div>
                                <ul class="list-group text-white rounded-0" style="font-size: 1em;font-weight: 600;" ng-if="disputeProbability !=0">
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-warning" style="opacity: 1.0;">
                                        NO. OF PAST PREVIOUS DISPUTES WITH MERCHANT
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">27.04</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-warning" style="opacity: 0.9;">
                                        NO. OF PAST UNSUCCESSFUL RECOVERY ATTEMPTS
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">17.22</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-warning" style="opacity: 0.7;">
                                        MERCHANT CATEGORY
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">5.32</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-warning" style="opacity: 0.5;">
                                        MODE OF TRANSACTION
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">4.10</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" ng-if="perset == 3">

                        <div class="row">
                            <div class="col-6">
                                <div class="bg-dark text-white px-4 clearfix">
                                    <div class="float-left d-flex justify-content-between align-items-center">
                                        <h6 class="text-uppercase bg-dark py-2 mb-0">Safe Transaction</h6>
                                    </div>
                                    <div class="float-right d-flex justify-content-between align-items-center ">
                                        <h6 class="text-uppercase bg-dark py-2 mb-0">{{100-disputeProbability}}%</h6>
                                    </div>
                                </div>

                                <ul class="list-group text-white rounded-0" style="font-size: 1em;font-weight: 600;" ng-if="(100-disputeProbability)!=0">
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success" style="opacity: 1.0;">
                                        TRANSACTION DATE
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">18.83</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success" style="opacity: 0.9;">
                                        TRANSACTION AMOUNT
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">15.15</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success" style="opacity: 0.7;">
                                        MERCHANT COUNTRY
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">8.90</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success" style="opacity: 0.5;">
                                        NO. OF PAST SUCCESSFUL RECOVERY ATTEMPTS
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">4.77</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <div class="bg-dark text-white px-4 clearfix">
                                    <div class="float-left d-flex justify-content-between align-items-center">
                                        <h6 class="text-uppercase bg-dark py-2 mb-0">Potential Dispute</h6>
                                    </div>
                                    <div class="float-right d-flex justify-content-between align-items-center ">
                                        <h6 class="text-uppercase bg-dark py-2 mb-0">{{disputeProbability}}%</h6>
                                    </div>
                                </div>
                                <ul class="list-group text-white rounded-0" style="font-size: 1em;font-weight: 600;" ng-if="disputeProbability !=0">
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-warning" style="opacity: 1.0;">
                                        MODE OF TRANSACTION
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">18.91</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-warning" style="opacity: 0.9;">
                                        NO. OF PAST PREVIOUS DISPUTES WITH MERCHANT
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">16.03</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-warning" style="opacity: 0.7;">
                                        MERCHANT CATEGORY
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">8.44</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-warning" style="opacity: 0.5;">
                                        NO. OF PAST UNSUCCESSFUL RECOVERY ATTEMPTS
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;">4.95</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center mb-3">
                        <p class="bg-dark text-white font-weight-bold rounded py-1">WEIGHTAGE SCORE: Indicates the contribution of the respective Business data element, towards the current Explained Decision</p>
                        <!--<button class="btn btn-primary">Inspect Explanation</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal For INTEL-X -->
    <div class="modal fade" id="intelxLeversModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="card border-0">
                    <div class="card-header border-0 font-weight-bold bg-dark text-white">
                        <h4 style="color: gold !important;margin-bottom: 0;">DECISION LEVERS</h4>
                        <button type="button" class="close text-white font-weight-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                <ul class="list-group text-white rounded-0" style="font-size: 1em;font-weight: 600;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success py-2" style="opacity: 1.0;">
                                        NO. OF PAST SUCCESSFUL RECOVERY ATTEMPTS
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;font-size: 1em;">23.11</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success py-2" style="opacity: 0.95;">
                                        NO. OF PAST PREVIOUS DISPUTES WITH MERCHANT
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;font-size: 1em;">19.71</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success py-2" style="opacity: 0.9;">
                                        MERCHANT COUNTRY
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;font-size: 1em;">16.09</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success py-2" style="opacity: 0.85;">
                                        MERCHANT CATEGORY
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;font-size: 1em;">12.24</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success py-2" style="opacity: 0.8;">
                                        NO. OF PAST UNSUCCESSFUL RECOVERY ATTEMPTS
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;font-size: 1em;">8.95</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success py-2" style="opacity: 0.75;">
                                        MODE OF TRANSACTION
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;font-size: 1em;">8.30</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success py-2" style="opacity: 0.7;">
                                        PAYMENT NETWORK
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;font-size: 1em;">3.29</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success py-2" style="opacity: 0.65;">
                                        TRANSACTION AMOUNT
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;font-size: 1em;">2.88</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success py-2" style="opacity: 0.60;">
                                        CARDHOLDER PRESENCE
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;font-size: 1em;">2.24</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success py-2" style="opacity: 0.55;">
                                        TRANSACTION DATE
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;font-size: 1em;">1.64</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center rounded-0 bg-success py-2" style="opacity: 0.5;">
                                        UNDER FLOOR LIMIT
                                        <span class="badge badge-dark badge-pill" style="font-weight: 800;font-size: 1em;">1.55</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>


                    <div class="card-footer bg-transparent border-0 text-center mb-0">
                        <p class="bg-dark text-white font-weight-bold rounded py-1">RELEVANCE SCORE: Indicates size of impact on the AI decision outcome, when the noted Business factor/lever value is changed</p>
                        <!--<button class="btn btn-primary">Inspect Explanation</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal For INTEL-X -->
    <div class="modal fade" id="intelxFairnessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="card border-0">
                    <div class="card-header border-0 font-weight-bold bg-dark text-white">
                        <h4 style="color: gold !important;margin-bottom: 0;">FAIRNESS Dashboard</h4>
                        <button type="button" class="close text-white font-weight-light" ng-click="allMonitorsScore = false;allAlerts = false;" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">

                            </div>
                            <div class="col-4 text-right">
                                <!--<button class="btn btn-primary">VIEW BIAS INDUCING FACTORS</button>-->
                                <button class="btn btn-primary" ng-click="allMonitorsScore = true;">VIEW ALL MONITORED FACTORS</button>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header border-0 rounded-0 font-weight-bold bg-dark text-white text-uppercase">
                                        Merchant Country
                                        <i class="fa fa-exclamation-triangle float-right text-danger" aria-hidden="true"></i>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-7">
                                                <h6 class="font-weight-bold">Baseline</h6>

                                            </div>
                                            <div class="col-5">
                                                <h6 class="text-right font-weight-bold">50%</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7">
                                                <h6 class="font-weight-bold">Reference</h6>

                                            </div>
                                            <div class="col-5">
                                                <h6 class="text-right font-weight-bold">USA</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="card" ng-if="allMonitorsScore == true">
                                    <div class="card-header border-0 rounded-0 font-weight-bold bg-dark text-white text-uppercase">
                                        Mode of Transaction
                                        <i class="fa fa-thumbs-up float-right text-success" aria-hidden="true"></i>

                                    </div>
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-7">
                                                <h6 class="font-weight-bold">Baseline</h6>

                                            </div>
                                            <div class="col-5">
                                                <h6 class="font-weight-bold text-right">65%</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7">
                                                <h6>Reference</h6>

                                            </div>
                                            <div class="col-5">
                                                <h6 class="text-right">Swiped</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="card" ng-if="allMonitorsScore == true">
                                    <div class="card-header border-0 rounded-0 font-weight-bold bg-dark text-white text-uppercase">
                                        Merchant Category
                                        <i class="fa fa-thumbs-up float-right text-success" aria-hidden="true"></i>

                                    </div>
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-7">
                                                <h6 class="font-weight-bold">Baseline</h6>

                                            </div>
                                            <div class="col-5">
                                                <h6 class="font-weight-bold text-right">80%</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7">
                                                <h6>Reference</h6>

                                            </div>
                                            <div class="col-5">
                                                <h6 class="text-right">Airlines</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">

                                <div class="row">
                                    <div class="col-7 bg-light p-3 border-secondary">
                                        <h6 class="my-2 text-danger font-weight-bold">BIAS Alert</h6>
                                        <p class="text-dark">Decisions bias at 40% fairness on identified MERCHANT COUNTRIES.</p>
                                        <a href="javascript:void(0)" class="btn btn-link btn-sm" ng-click="allAlerts = true;">View Details ></a>
                                    </div>
                                    <div class="col-4">
                                        <ul class="list-group" ng-if="allAlerts == true">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                CHINA
                                                <span class="badge badge-danger badge-pill" style="font-size:1em;">40%</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                MALAYSIA
                                                <span class="badge badge-danger badge-pill" style="font-size:1em;">45%</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                NEPAL
                                                <span class="badge badge-danger badge-pill" style="font-size:1em;">42%</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
